@page "/calendar"

<div class="row-layout calendar-container">
    <div class="row-layout group">
        <IgbCalendar HideHeader="false" class="calendar" calendar-scope></IgbCalendar>
        <IgbCalendar HideHeader="false" class="calendar_1" calendar-scope></IgbCalendar>
        <IgbCalendar HideHeader="false" class="calendar_2" calendar-scope></IgbCalendar>
        <IgbCalendar HideHeader="false" class="calendar_3" calendar-scope></IgbCalendar>
    </div>
</div>

@code {
}
